<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ZonaWSPortBinding" />
                <binding name="FamiliaWSPortBinding" />
                <binding name="CarteraWSPortBinding" />
                <binding name="ClienteWSPortBinding" />
                <binding name="ClienteXZonaWSPortBinding" />
                <binding name="EmpleadoXZonaWSPortBinding" />
                <binding name="FacturaWSPortBinding" />
                <binding name="GuiaRemisionWSPortBinding" />
                <binding name="LineaCreditoWSPortBinding" />
                <binding name="MarcaWSPortBinding" />
                <binding name="NotaDeCreditoWSPortBinding" />
                <binding name="PedidoWSPortBinding" />
                <binding name="PersonaContactoWSPortBinding" />
                <binding name="ProductoXZonaWSPortBinding" />
                <binding name="PromocionWSPortBinding" />
                <binding name="QuejaWSPortBinding" />
                <binding name="SubFamiliaWSPortBinding" />
                <binding name="VisitaWSPortBinding" />
                <binding name="ProductoWSPortBinding" />
                <binding name="EmpleadoWSPortBinding" />
                <binding name="PromocionXProductoWSPortBinding" />
                <binding name="LineaPedidoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/GuiaRemisionWS"
                binding="basicHttpBinding" bindingConfiguration="GuiaRemisionWSPortBinding"
                contract="GuiaRemisionWS.GuiaRemisionWS" name="GuiaRemisionWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/LineaCreditoWS"
                binding="basicHttpBinding" bindingConfiguration="LineaCreditoWSPortBinding"
                contract="LineaCreditoWS.LineaCreditoWS" name="LineaCreditoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/NotaDeCreditoWS"
                binding="basicHttpBinding" bindingConfiguration="NotaDeCreditoWSPortBinding"
                contract="NotaDeCreditoWS.NotaDeCreditoWS" name="NotaDeCreditoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/QuejaWS"
                binding="basicHttpBinding" bindingConfiguration="QuejaWSPortBinding"
                contract="QuejaWS.QuejaWS" name="QuejaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/ProductoWS"
                binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
                contract="ProductoWS.ProductoWS" name="ProductoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/FamiliaWS"
                binding="basicHttpBinding" bindingConfiguration="FamiliaWSPortBinding"
                contract="FamiliaWS.FamiliaWS" name="FamiliaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/MarcaWS"
                binding="basicHttpBinding" bindingConfiguration="MarcaWSPortBinding"
                contract="MarcaWS.MarcaWS" name="MarcaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/SubFamiliaWS"
                binding="basicHttpBinding" bindingConfiguration="SubFamiliaWSPortBinding"
                contract="SubFamiliaWS.SubFamiliaWS" name="SubFamiliaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/PromocionXProductoWS"
                binding="basicHttpBinding" bindingConfiguration="PromocionXProductoWSPortBinding"
                contract="PromocionXProductoWS.PromocionXProductoWS" name="PromocionXProductoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/PromocionWS"
                binding="basicHttpBinding" bindingConfiguration="PromocionWSPortBinding"
                contract="PromocionWS.PromocionWS" name="PromocionWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/ProductoXZonaWS"
                binding="basicHttpBinding" bindingConfiguration="ProductoXZonaWSPortBinding"
                contract="ProductoXZonaWS.ProductoXZonaWS" name="ProductoXZonaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/ZonaWS"
                binding="basicHttpBinding" bindingConfiguration="ZonaWSPortBinding"
                contract="ZonaWS.ZonaWS" name="ZonaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/ClienteXZonaWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteXZonaWSPortBinding"
                contract="ClienteXZonaWS.ClienteXZonaWS" name="ClienteXZonaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/EmpleadoXZonaWS"
                binding="basicHttpBinding" bindingConfiguration="EmpleadoXZonaWSPortBinding"
                contract="EmpleadoXZonaWS.EmpleadoXZonaWS" name="EmpleadoXZonaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/PersonaContactoWS"
                binding="basicHttpBinding" bindingConfiguration="PersonaContactoWSPortBinding"
                contract="PersonaContactoWS.PersonaContactoWS" name="PersonaContactoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/CarteraWS"
                binding="basicHttpBinding" bindingConfiguration="CarteraWSPortBinding"
                contract="CarteraWS.CarteraWS" name="CarteraWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
                contract="ClienteWS.ClienteWS" name="ClienteWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/LineaPedidoWS"
                binding="basicHttpBinding" bindingConfiguration="LineaPedidoWSPortBinding"
                contract="LineaPedidoWS.LineaPedidoWS" name="LineaPedidoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/VisitaWS"
                binding="basicHttpBinding" bindingConfiguration="VisitaWSPortBinding"
                contract="VisitaWS.VisitaWS" name="VisitaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/FacturaWS"
                binding="basicHttpBinding" bindingConfiguration="FacturaWSPortBinding"
                contract="FacturaWS.FacturaWS" name="FacturaWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/EmpleadoWS"
                binding="basicHttpBinding" bindingConfiguration="EmpleadoWSPortBinding"
                contract="EmpleadoWS.EmpleadoWS" name="EmpleadoWSPort" />
            <endpoint address="http://54.80.91.225:8080/CrewmanSystemServices/PedidoWS"
                binding="basicHttpBinding" bindingConfiguration="PedidoWSPortBinding"
                contract="PedidoWS.PedidoWS" name="PedidoWSPort" />
        </client>
    </system.serviceModel>
</configuration>